<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
    <ion-item>
        <ion-label position="floating">E-MAIL</ion-label>
        <ion-input [(ngModel)]="loginData.email" placeholder="Entrer votre e-mail"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input [(ngModel)]="loginData.password" placeholder="Entrer votre password" type="password"></ion-input>
        </ion-item>

        <ion-button (click)="login()" expand="block" color="primary ">Connexion</ion-button>

        <p style="text-align: center;">ou</p>

        <ion-button routerLink="/sign-up" expand="block" color="secondary">Inscription</ion-button>



</ion-content>
